{% extends "base.html" %}

<body>
{% block content %}
    <section class="section">
        <thead>
            <tr>
                <th>user_id</th>
                <th>username</th>
                <th>email</th>
                <th>password</th>
                <th>created_at</th>
            </tr>
        </thead>
        {% for us in user %}
        <tbody>
            <tr>
                <th>{{ us.user_id }}</th>
                <td>{{ us.username }}</td>
                <td>{{ us.email }}</td>
                <td>{{ us.password }}</td>
                <td>{{ us.created_at }}</td>
            </tr>
        </tbody>
        {% endfor %}
        <div class="add_user">
        <a href="/user/add_user">Add user</a>
        </div>
        <div class="find_user">
        <a href="/user/find_user">Find user</a>
        </div>
        <div class="delete_user">
        <a href="/user/delete_user">Delete user</a>
        </div>
    </section>
{% endblock %}
