{% extends "base.html" %}

<body>
{% block content %}
  <section class="section">
    <div class="get_users">
        <a href="/user/get_users">Список пользователей</a>
    </div>
    <div class="add_user">
        <a href="/user/add_user">Добавить пользователя</a>
    </div>
    <div class="find_user">
        <a href="/user/find_user">Найти пользователя</a>
    </div>
    <div class="delete_user">
        <a href="/user/delete_user">Удалить пользователя</a>
    </div>
  </section>
    {% endblock %}
</body>
</html>