{% extends "base.html" %}

<body>
    <nav class="nav">
        <div class="btn">
            <button class="btn_submit">Войти</button>
            <button class="btn_submit">Зарегистрироваться</button>
        </div>
    </nav>
    {% block content %}
    <section class="section">
        <div class="menu">
            <a href="user/users" class="btn_submit">Пользователи</a>
            <a href="item/items" class="btn_submit">Предметы</a>
            <a href="order/orders" class="btn_submit">Заказы</a>
<!--            <a href="server/servers" class="btn_submit">Servers</a>-->
<!--            <a href="payment/payments" class="btn_submit">Payments</a>-->
        </div>
    </section>
    {% endblock %}
</body>
</html>